@font-face
{
    font-family: 'Century Gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face
{
    font-family: 'Century Gothic';
    src: url('../fonts/gothicbold.ttf');
    src: local('gothic'), url('../fonts/gothicbold.woff') format('woff'), url('../fonts/gothicbold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face
{
    font-family: 'phd-Regular';
    src: url('../fonts/phd-Regular.otf');
    src: local('phd-Regular'), url('../fonts/phd-Regular.otf') format('otf'), url('../fonts/phd-Regular.ttf') format('truetype');
}



body {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.phdFont.icon
{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'phd-Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}

.phd-clic:before
{
    content: '¥';
}

.phd-visitas:before
{
    content: 'µ';
}

.phd-play:before
{
    content: '∂';
}

.phd-credencial:before
{
    content: '∏';
}

.phd-credencial2:before
{
    content: 'ƒ';
}

.phd-ciencia:before
{
    content: '≈';
}

.ui.menu, body, .letrero, .ui.header, .ui.form input[type="text"], .ui.form textarea, .ui.button
{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #321C17;
}

.text.white {
    color: #FFFFFF;
}
.text.grey {
    color: #CCCCCC;
}
.text.black {
    color: #1B1C1D;
}
.text.orange {
    color: #EE7716;
}
.text.blue {
    color: #00BCDA;
}

.ui.menu, .ui.header, .text, h1, h2, h3, h4, .ui.button
{
    font-family: "Century Gothic", "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#inputNumeroRegistroOrcid
{
    margin-top: 3px;
}

.ui.form input:not([type]),
.ui.form input[type="text"],
.ui.form input[type="email"],
.ui.form input[type="search"],
.ui.form input[type="password"],
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="url"],
.ui.form input[type="number"], .ui.form textarea {
    font-family: "Century Gothic", "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.center.aligned
{
    text-align: center;
}

.azulMarino
{
    color: #003C6D ;
}

.right.aligned
{
    text-align: right;
}

.compact.message.right
{
}

.ui.inverted.blue.segment
{
    background-color: #00BCDA !important;
}

.ui.yellow.button, .ui.yellow.buttons .button {
    background-color: #F3A712;
}

.ui.yellow.button:hover {
    background-color: #DE970A;
}

.bold
{
    font-weight: bold;
}

.ui.button
{
    cursor: pointer;
}

table.dataTable tbody td.right
{
    text-align: right;
}

body#loginBody
{
    background-color: #003C6D;
}

#adminLogin .image
{
    margin-bottom: 50px;
}

#adminLogin .column
{
    max-width: 800px;
    margin-top:50px;
    margin-bottom: 190px;
    height: 100% !important;
}

#adminLogin .submit.button
{
    margin-top: 20px;
}

#formLogin
{
    margin: 0px auto;
    padding-bottom: 30px;
    max-width: 450px;
}

#formLogin label
{
    text-align: left;
}

#adminLogin #creaCuenta
{
    background: none;
    border-top: 2px solid #F3A712;
}

.cursorPointer
{
    cursor: pointer;
}

/*header*/
#header
{
    margin-top: 168px;
}
#menuP
{
    background-color: #F3A712;
    padding: 0px;
    box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32);
}

#fixedmenu
{
    top:0;
    width: 100%;
    position: fixed;
    z-index:101;
}

#barraLogo
{
    margin: 0px;
}

#barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
.ui.grid > .column.row > .column[class*="four wide"],
.ui.grid > .row > .column[class*="four wide"],
.ui.grid > .column[class*="four wide"]
{
    width: 15% !important;
}


#barraMenuAdmin .ui.column.grid > .column[class*="nine wide"],
.ui.grid > .column.row > .column[class*="nine wide"],
.ui.grid > .row > .column[class*="nine wide"],
.ui.grid > .column[class*="nine wide"]
{
    width: 50% !important;
}

#barraMenuAdmin  .ui.column.grid > .column[class*="three wide"],
.ui.grid > .column.row > .column[class*="three wide"],
.ui.grid > .row > .column[class*="three wide"],
.ui.grid > .column[class*="three wide"]
{
    width: 25% !important;
}

.center.aligned.azulMarino
{
    padding-top: 15px;

}

.ui.menu .dropdown.item .iteMenuAdmin
{
    background-color: #343434;
}

.ui.secondary.vertical.pointing.menu .active.item
{
    border-color: #F3A712;
    margin-right: 5px;
}

.ui.menu .ui.dropdown .menu > .active.item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #FFFFFF; !important;
}

.ui.menu .dropdown.item .iteMenuAdmin
{
    background-color: #343434;
}

.ui.menu .ui.dropdown .menu> .item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .active.item
{
    color: #FFFFFF;
}

#mensajeExitoLogin
{
    margin: 30px 0 0 0 !important;
}

.ui.breadcrumb
{
    padding: 15px 0px 15px 30px;/*arriba,izquierda,abajo,derecha*/
}

.ui.basic.btnAdmin
{
    border: #003C6D 2px solid !important;
    color: #FFFFFF !important;
    background: #F3A712 !important;
}

.ui.basic.btnAdmin:hover
{
    border: #F3A712 2px solid !important;
    color: #FFFFFF !important;
    background: #003C6D !important;
}

.divided
{
    border-left: solid 1px #003C6D;
}

#tablaBienvenida thead th
{
    background: #003C6D;
    color: #FFFFFF;
}

.tituloBarra.azulMarino
{
    background-color: #003C6D;
    margin-top: -5px !important;
}

#registroVideo .tituloBarra, .ui.tituloBarra
{
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin: 0px;
}

.fondo.gris
{
    background: #F0F0F0;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.txt
{
    font-size: 15px;
}

.txt.azulMarino
{
    color: #003C6D;
    font-weight: bold;
}

.txtParentesis
{
    font-size: 12px !important;
}

.txtLittle
{
    font-size: 12px;
}

.bordeTop
{
    border-top: solid black 1px;
}

.center
{
    text-align: center;
}

.registroUsuario.btnAzul
{
    background-color: #003C6D !important;
    color: #FFFFFF !important;
    width: 160px ;
    height: 45px;
}

.agregarVideo.btnAzul
{
    background-color: #003C6D !important;
    color: #FFFFFF !important;
    width: 160px;
    height: 45px;
}

.quita1
{
    width: 30px;
}

#footer .ui.column.grid > .column[class*="ten wide"],
.ui.grid > .column.row > .column[class*="ten wide"],
.ui.grid > .row > .column[class*="ten wide"],
.ui.grid > .column[class*="ten wide"]
{
    width: 85% !important;
}

#buscadorMenuAdmin .ui.input
{
    margin-top: 22px;
}

#menuP .breadcrumb
{
    color: #FFFFFF;
}

#menuP .breadcrumb a
{
    color: #FFFFFF;
}

#menuP .breadcrumb a:hover
{
    color: #FFFFFF;
}

textarea
{
    max-height:100px ;
    min-height: 100px ;
}

#modalEliminar .azul.barra
{
    background-color: #003C6D;
    color: #FFFFFF;
}

#modalEliminar .btnPhd.azul
{
    background-color: #003C6D;
    color: #FFFFFF;
}

#modalEliminar .btnPhd.amarillo
{
    background-color: #F3A712;
    color: #FFFFFF;
}

.contenido
{
    margin: 30px;
}

#modalEliminar .actions
{
    background-color:  #FFFFFF;
}

#btnAgregarVideo
{
    margin-bottom: 22px;
}

.ui.message > .close.icon
{
    top: 8px;
    right: 8px;
}

.ui.message .list:not(.ui)
{
    margin: 0px;
}

#barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
.ui.grid > .column.row > .column[class*="four wide"],
.ui.grid > .row > .column[class*="four wide"],
.ui.grid > .column[class*="four wide"]
{
    width: 74% !important;
}

.ui.success.message.messagePerfil
{
    margin: 0 0 10px 0 !important;
}

.ui.error.message
{
    margin-bottom: 20px !important;
}

.ui.success.message
{
    background-color: #ccd1d4;
    color: #00171F;
    box-shadow: none;
    margin: 0 0 20px 0 !important;
}

.usuarioPHD .quita1
{
    margin: 9px 12px 8px 6px; /*arriba,izquierda,abajo,derecha*/
    /* display: none;*/
    float: left;
}

#flechaDropdown
{
    color: #FFFFFF !important;
    margin: 14px;
}

.ui.menu .item
{
    padding: 12px;
}

.nomUsuarioPHD
{
    margin-top: 15px !important;
    font-size: 15px;
    color: #FFFFFF;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #F3A712 !important;
    border-left: #F3A712 solid 5px;
}

#dropSimpleMenu
{
    width: 177px!important;
    height: 53px !important;
    margin-top: 39px !important;
    background: #343434;
}

/*nuevo*/
#barraMenuAdmin
{
    border-top: solid 4px #F3A712;
    background-color: #003C6D;
    padding: 0px;
    /*nuevo*/
    border-radius: inherit;
    margin: 0px;
}

.logoPHD
{
    margin: 20px 20px 20px 16px; /*arriba,izquierda,abajo,derecha*/
}

#dropdownMenu .dropSimpleMenu
{
    /*width: 177px!important;*/
    height: 53px !important;
    /*margin-top: 34px !important;*/
    margin-right: -1px;
    background: #343434;
    border-radius: 5px;
}

#dropdownMenu .ui.secondary.vertical.pointing.menu
{
    left: 0px;
}

#dropdownMenu .ui.icon.large.user
{
    color: #FFFFFF;
}

#dropdownMenu .dropSimpleMenu:hover
{
    background-color: #F3A712;
    border-radius: 5px;
}

/*nuevo admin*/
#menuGeneralAdmin
{
    margin-top: 64px;
}

 .blueBackground
{
     background-color: #003C6D !important;
     text-align: center;
     height: 40px;
     border-radius: 5px 5px 0px 0px;
}

.txtGrande
{
    font-size: 16px;
}

.yellowBackground
{
    background-color: #F3A712 !important;
    text-align: center;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
}

#menuGeneralAdmin .txtHeader
 {
    color: #FFFFFF;
    padding: 8px;
 }

#menuGeneralAdmin .contenedorBtn
{
    border-radius: 8px;
    padding: 0px !important;
    margin: 12px !important;
}

.bordeAzul
{
    border: 1px solid #003C6D;
}

.bordeAmarillo
{
    border: 1px solid #F3A712;
}

.txtNegro
{
    color: black !important;
}

#menuGeneralAdmin .button
{
    margin-bottom: 2px;
    text-align: left;
    padding: 10px;
    font-size: 15px;
}

.ui.basic.black.button, .ui.basic.black.buttons .button
{
    box-shadow: none !important;
}

.txtBordeInferior
{
    border-bottom: 1px solid black;
    margin-top: 15px !important;
}

#menuGeneralAdmin .items
{
    margin: 0px;
}

#menuGeneralAdmin .item
{
    margin: 0px;
    padding: 10px 10px 10px 10px; /*arriba,izquierda,abajo,derecha*/
}

.btnSepara
{
    margin-top: 22px;
}

#btnAgregarInvestigador
{
    margin-bottom: 22px;
}

#btnAgregarUsuario
{
    margin-bottom: 22px;
}

.aligned-der
{
    text-align: right;
}

#panelGrabacion
{
    margin: 10px 0;
}

#panelGrabacion p
{
    margin: 0px;
}

.camaraImg
{
    width: 80px;
}

.ui.button.btnNaranja
{
    background-color: #EBA628;
    color: #FFFFFF;
    width: 180px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(87,86,87,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(87,86,87,1);
    box-shadow: 0px 0px 13px 0px rgba(87,86,87,1);
    margin: 26px 0px;
}

.txtNaranja
{
    color: #EBA628 !important;
}


.interlineado
{
    text-decoration: underline !important;
}

#ligaAYoutube
{
    cursor: pointer;
    cursor: hand;
}

#btnGuardarVideo
{
    display: none;
}

#agregarLigaYoutube
{
    display: none;
}

#btnGuardarVideo .ui.button.agregarVideo.btnAzul
{
    margin: 20px 0px;
}

#btnGuardarVideo p
{
    margin: 6px;
}

#btnGuardarVideo a
{
    cursor: pointer;
    cursor: hand;
    color: #003C6D !important;
}

.fondoNaranja
{
    background: #F3A712 !important;
}

.bordeNaranja , .ui.fullscreen.modal
{
    border: 6px solid #F3A712;
}

.ui.fullscreen.modal
{
    border-radius: 12px;
}

.ui.fullscreen.modal > .header ,.ui.fullscreen.modal > .close
{
    color: #FFFFFF;
}

#tablaTutorial
{
    padding: 20px 20px 0px 20px;
}

#tablaTutorial th
{
    color: #003C6D;
    font-weight: inherit;
    font-size: 16px;
}

#tablaTutorial thead th
{
    border-bottom: 4px solid #F3A712;
}

#tablaTutorial tr td
{
    border: none;
}


/*reloj*/

#datosVideo
{
    margin-right: 30px;
}

#datosVideo .item
{
    position: relative;
    margin: 0 auto;
    max-width: 245px;
}

#datosVideo .item h2, #datosVideo .item p
{
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
    position:absolute;
    z-index:3;
    top: 46px;
    left: 12px;
}

#datosVideo svg
{
    transform: rotate(-90deg);
    width:260px;
    height:260px;
    position:absolute;
    left: -2px;
}

#datosVideo .circle_animation
{
    stroke-dasharray: 700; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 700;
    transition: all 1s linear;
}

#datosVideo circle
{
    stroke-width:1.4em;
    stroke-linecap:round;
    stroke:#F3A712;
    fill:none;
    position:absolute;
    z-index:2;
}

#datosVideo .circulo
{
    width: 243px;
    height: 243px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1.3em solid #003C6D;
    z-index:-1;
    left: 14.2em;
    margin-left: 10px;
    top: .6px;
}

/**/

#btnGrabacion
{
    width: 242px;
    padding: 8px 10px;
}

#btnIcon
{
    float: left;
    margin-left: 12px;
    margin-right: 14px;
}

#btnIcon.circle.icon
{
    margin-top: 9px;
}

#btnIcon.stop.icon, #btnIcon.play.icon
{
    margin-top: 10px;
}

#btnIconNombre
{
    margin-top: 6px;
    float: left;
}

#tablaTutorial .play.icon.puntero
{
    color: white;
}

i.icon.circle, i.icon.stop
{
    font-size: 30px;
    color: #EF233C;
    margin: 3px;
}

i.icon.play
{
    font-size: 30px;
    color: #1A936F;
}

.pause::after
{
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    border: none;
}

.e-c-base
{
    fill: none;
    stroke: #F3A712;
    stroke-width: 12px
}

.e-c-progress
{
    fill: none;
    stroke: #003C6D;
    stroke-width: 14px;
    transition: stroke-dashoffset 0.7s;
}

.circle
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

h1 { margin-top:150px; text-align:center;}
body { background-color:#f7f7f7;}


#btnGrabacion .button.bordeNaranja
{
    background: #FFFFFF;
}

.bordeNaranja
{
    border: solid 4px #F3A712 !important;
}


#grabar
{
    display: flex;
}

#stop
{
    display: none;
}

#stop p, #playing p , #grabar p
{
    margin-left: 16px;
}

#playing
{
    display: none;
}

.aligned.center
{
    text-align: center;
}

.desactivarBtn
{
    visibility: hidden;
}

.txtActivado
{
    color: #F3A712;
    text-decoration: underline;
}

canvas
{
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 70px;
}

#lineaTiempoOpciones
{
    display: flex;
}

.bordeRojo
{
    border: solid 4px #EF233C !important;
}

.bordeVerde
{
    border: solid 4px #1A936F !important;
}

#arbolSeleccion
{
    width: 747px;
    margin: 0 auto;
}


#arbolSeleccion .circle.icon
{
    padding-top: 14px;
    padding-bottom: 28px;
    float: left;
    padding-right: 24%;
}

#arbolSeleccion .button p
{
    padding-top: 12px;
    float: left;
}

#arbolSeleccion img
{
    padding-top: 6px;
    float: left;
    padding-right: 10px;
}

#arbolSeleccion .button
{
    padding: 0px 22px;
    width: 260px;
    display: inline-block;
}

.ui.button.btnGrabacion.bordeVerde
{
    float: right;
}

#lineaTiempoOpciones .izq ,#lineaTiempoOpciones .der
{
    position: relative;
    height: 20px;
    top: 24px;
    margin: 0;
    font-weight: bold;
}

#lineaTiempoOpciones .izq
{
    left: 134px;
    color: #EF233C;
}

#lineaTiempoOpciones .button p
{
    margin-top: 10px;
}

#lineaTiempoOpciones .der
{
    right: 130px;
    color: #1A936F;
}

.alineacionTxt
{
    margin: 4px auto;
    text-align: center;
}

#moduloGrabacion
{
    min-height: 716px;
}

#play
{
    margin: 0 auto;
}

#btnGrabado
{
    position: relative;
    margin: 0 auto;
    width: 220px;
}

#btnIcon2
{
    position: absolute;
    margin: 12px 16px;
}

#record
{
    padding-left: 40px;
    width: 220px;
    height: 56px;
}

.der
{
    position: absolute;
    right: 33px;
}
/*estadistica*/
#menuGeneralAdmin .items.admin
{
    margin-bottom: 52px;
}

#menuGeneralAdmin .items .btnReporte
{
    display: inline-flex;
    padding: 5px;
}

#menuGeneralAdmin .items
{
    margin: 0px;
    border-radius: 8px;
}

#menuEstadistica
{
    background: #343434;
    float: left;
    color: #ffffff;
    height: 82vh;
}

#menuEstadistica .titulo
{
    font-size: 18px;
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
    width: 220px;
}

#menuEstadistica ul
{
    list-style: none;
    padding: 0px;
}

#menuEstadistica ul li a {
    color: #ffffff;
    padding-left: 30px;
    border-left: transparent solid 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#menuEstadistica ul li a:hover {
    color: #F3A712;
    border-left: #F3A712 solid 6px;
}

#barraFiltro
{
    display: inline-flex;
    padding: 10px;
    background: #ffff;
    position: absolute;
    width: 100%;

}

#barraFiltro h3
{
    font-weight: normal;
    margin: 0px;
    height: 46px;
    padding: 10px;
    color: #003C6D;
}

#barraFiltro .inline.fields
{
    margin: 0px;
}

#barraFiltro .fechaCalendario
{
    padding: 4px 16px;
}

#barraFiltro .fechaCalendario label
{
    font-weight: normal;
}

.activo
{
    color: #F3A712 !important;
    border-left: #F3A712 solid 6px !important;
}


/*resumen global*/
#resumenGlobal
{
  padding-top: 90px;
}

#VideoPublicados,
#Visitantes,
#AdquisicionUsuarios
{
  width: 664px !important;
  height: 266px !important;
}

/*Investigadores*/
#investigadores
{
  padding-top: 200px;
  padding-left: 500px !important;
}



/*Responsiva*/
@media only screen and (max-width: 868px){

    #buscadorMenuAdmin
    {
        display: none;
    }

    .ui.fluid.input > input
    {
        width: 900px !important;
    }

    #contenido .ui.stackable.grid > .column.grid > .column,
    .ui.stackable.grid > .column.row > .column,
    .ui.stackable.grid > .column:not(.row),
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .row > .wide.column,
    .ui.stackable.grid > .wide.column
    {
        width: 50% !important;
    }

    /*header*/
    #barraMenuAdmin .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 35% !important;
    }

    #barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 60% !important;
    }

    #logoChoco
    {
        max-width: 60px !important;
        margin-top: 14px;
    }

    #menuFoot .txtFooter
    {
        font-size: 12px;
    }

    #actualizarInvestigador .nombreApellidos
    {
        display: grid !important;
    }
    #actualizarInvestigador .nombreApellidos .five.wide.field
    {
        width: 98% !important; /*102*/
    }
    #actualizarInvestigador .contenedorDoble
    {
        width: 100%;
    }
    #actualizarInvestigador .contenedorDoble .five.wide.field
    {
        width: 50% !important;
    }
    #actualizarInvestigador .ten.wide.field
    {
        width: 100% !important;
    }

    .txt.infoLlenado
    {
        text-align: center !important;
    }
    #actualizarInvestigador .contenedor .five.wide.field
    {
        width: 50% !important;
    }
    #actualizarInvestigador .contenedor.five.wide.field
    {
        width: 48% !important;
    }

    /*nuevo*/
    #formularioAdmin .fields
    {
        flex-direction:column;
    }

    #formularioAdmin .six.wide.field
    {
        width: 100% !important;
        padding: 0px;
    }

    #menuGeneralAdmin .ui.centered.grid > .column:not(.aligned):not(.row),
    .ui.centered.grid > .row > .column:not(.aligned),
    .ui.grid .centered.row > .column:not(.aligned)
    {
        width: 70% !important;
    }

    .fondo.gris
    {
        padding-left: 30px;
        padding-right: 30px;
    }

}

/*Cel*/
@media only screen and (max-width: 700px){

    /*#barraMenuAdmin
    {
        background-color: green ;
    }*/

    .txtDatosMenu
    {
        display: none !important;
    }
    .cel
    {
        display: block !important;
    }

    #barraMenuAdmin .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 40% !important;
    }

    #barraMenuAdmin .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 60% !important;
    }

    /*registro*/
    #actualizarInvestigador .contenedorDoble .five.wide.field
    {
        width: 100% !important;
    }
    #actualizarInvestigador .five.wide.field
    {
        width: 98% !important;
    }
    #actualizarInvestigador .contenedor .five.wide.field
    {
        width: 100% !important;
    }
    #actualizarInvestigador .contenedor.five.wide.field
    {
        width: 98% !important;
    }

    /*nuevo*/

    #menuGeneralAdmin .ui.centered.grid > .column:not(.aligned):not(.row),
    .ui.centered.grid > .row > .column:not(.aligned),
    .ui.grid .centered.row > .column:not(.aligned)
    {
        width: 80% !important;
    }

    .fondo.gris
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/*
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
 */


video {
    height: 492px;
    margin: 20px 12px 20px 0;
    vertical-align: top;
    width: 100%;
}


video:last-of-type {
    margin: 20px 12px 20px 20px;
}

video #gumVideo {
    margin: 0 20px 20px 0;
}

/*
@media screen and (max-width: 500px) {
    button {
        font-size: 0.8em;
        width: calc(33% - 5px);
    }
}

@media screen and (max-width: 720px) {
    video {
        height: calc((50vw - 48px) * 3 / 4);
        margin: 0 10px 10px 0;
        width: calc(50vw - 48px);
    }

    video#gumVideo {
        margin: 0 10px 10px 0;
    }
}
