body
{
    margin: 0px;
    padding: 0px;
    height: 0;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face
{
    font-family: 'Century Gothic';
    src: url('../fonts/gothicbold.ttf');
    src: local('gothic'), url('../fonts/gothicbold.woff') format('woff'), url('../fonts/gothicbold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face
{
    font-family: 'phd-Regular';
    src: url('../fonts/phd-Regular.otf');
    src: local('phd-Regular'), url('../fonts/phd-Regular.otf') format('otf'), url('../fonts/phd-Regular.ttf') format('truetype');
}


.txtTitulo
{
    font-size: 18px; !important;
}

.txtParentesis
{
    font-size: 12px !important;
}

#inputNumeroRegistroOrcid
{
    margin-top: 3px;
}

.phdFont.icon
{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'phd-Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.phd-clic:before
{
    content: '¥';
}

.phd-visitas:before
{
    content: 'µ';
}

.phd-movie:before
{
    content: '∂';
}

.phd-play:before
{
    content: '∑';
}

.phd-credencial:before
{
    content: '∏';
}

.phd-credencial2:before
{
    content: 'ƒ';
}

.phd-ciencia:before
{
    content: '≈';
}

body
{
    font-family: "Century Gothic";
}

.ui.menu,body .ui.header
{
    font-family: "Century Gothic","";
}

.txtAmarillo
{
    color: #F3A712;
}

.yellowBackground
{
    background: #F3A712;

}

.txtBlanco
{
    color: white;
}

.txtAzul
{
    color: #003C6D;
}

#itemTutoriales
{
    border: 0;
    background: #F3A712;
    box-shadow: none;
}

#itemTutoriales a
{
    color: white;
}

#itemTutoriales a:hover
{
    border-bottom: solid 2px #FFFFFF;
    background-color: transparent;

}

#videoTutorial
{
    margin-top: 20px;
    width: 50%;
}

#columnaTiempo
{
    width: 10%;
}

#tablaTutorial
{
    width: 70%;
    margin: 30px auto 30px auto;
}

#columnaTiempo
{
    color: #F3A712;
    border-bottom: 2px solid #F3A712;
}

#columnaElementos
{
    color: #003C6D;
    border-bottom: 2px solid #F3A712;
}

.ui.table tr td
{
    border-top: none !important;

}

.textoJustificado
{
    text-align: justify;
    text-justify: inter-word;
}

#contenedor
{
    margin-top: 50px;
    margin-bottom: 80px;
}

#mensajeExito
{
    display: none;
    background-color: #F0F0F0;
    left: 0;
    padding: 20px;
    padding-top: 70px;
    position: absolute;
    display: none;
    font-size: 0.9em;
    height: 100%;
    text-align: center;
    top: 0;
    width: 100%;
}

#fixedmenu
{
    top:0;
    width: 100%;
    position: fixed;
    z-index:101;
}

#barraLogo
{
    margin: 0px;
}

.buscador
{
    width: 650px;
    margin-top:20px !important;
}

.usuarioPHD
{
    margin: 3px 20px 0px 10px; /*arriba,izquierda,abajo,derecha*/
    /* display: none;*/
    float: left;
}

#dropSimpleMenu .ui.simple.dropdown.item
{
    padding: 0px !important;
}

.nomUsuarioPHD
{
    margin-top: 15px !important;
    font-size: 15px;
    color: #FFFFFF;
}

.ui.icon.input #btnBuscador
{
    top: 11px !important;
}

#menuP
{
    background-color: #F3A712;
    margin: 0px;
    box-shadow: 0px 6px 6px -2px rgba(102,102,102,0.32);
    border-radius: 0px;
}

#menuP .menuPData
{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#menuVideos
{
    background-color: #F0F3F5;
    margin-top: 10px;
    border: 0 !important;
    box-shadow: none !important;
    margin-bottom: 20px;
}

#menuVideos .item:hover,
#menuVideos .item.visible
{
    background: transparent;
}

#datosVideos .txtSubcribe
{
    color: #003C6D;
}

#datosVideos .colorTitulo
{
    color: #F3A712;
}

#colorRegistro
{
    color: #F3A712;
    text-decoration: underline;
}

.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover
{
    color: #FFFFFF;
}

.ui.menu .item
{
    color: #FFFFFF;
}

.ui.menu
{
    margin: 0;
    min-height: 0;
}

#menuP a:hover
{
    background-color: inherit;
}

.transparente
{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#itemEmprendimiento
{
    border-left: 4px solid #F3A712 !important;
    border-right: 4px solid #F3A712 !important;
    border-radius: 0;
}

#menuEmprendimiento > a.item:hover
{
    color: #003C6D;
    text-decoration: underline !important;
}

#menuAreas.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #003C6D !important;
    background: none !important;
    text-decoration: underline;
}

#menuAreas .icon.dropdown
{
    color: #003C6D !important;
}

#menuEmprendimiento
{
    border-left: 6px solid white !important;
    border-radius: 0;
}

.optMenuFecha
{
    padding-left: 5px;
}


.bordeAzul:hover
{
    border-bottom: 1px solid #003C6D;
}

#menuP .txtMenu
{
    color: #FFFFFF;
}

#dropdownAreas.ui.dropdown .menu > .item:hover
{
    background: none !important;
    text-decoration: underline;
}

.lineaOption2
{
    float: right;
    padding-top: 4px;
    margin-left: 10px;
    color: #FFFFFF;
}

#menuP .optMenu
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 0px !important;
}

/*index*/

#logoPhd
{
    margin: 1%;
    max-width: 10%;
    min-width: 80px;
}

#header
{
    margin-top: 170px;
}

#gridRegistroCel
{
    display: none;
}

#buscadorHeader
{
    width: 70% !important;
}

#textoBuscador
{
    margin-top: 15px;
}

#gridHeader
{
    width: 80%;
    margin-bottom: 10px;
}

#gridHeaderResponsivo
{
    display: none;
}

#gridHeader.ui.grid > .row
{
    padding: 0.2rem !important;
}

/*Contenido*/


.txtContPHD
{
    margin: 1.5%;
}

.reloj
{
    float: left;
    margin-right: 10px;
}

#cardImg .imagPhd
{
    height: auto;
}

.ui.card, .ui.cards > .card
{
    width: 400px !important;
    box-shadow: none;
}
/*Videos*/

#contenido2
{
    margin-bottom: 50px;
    color: #003C6D;
    margin-left: 35px;
}

/*Video Insertado*/

.video-responsive
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-responsive iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Footer*/

#footerColor
{
    background-color: #003C6D;
    border-bottom: solid 4px #F3A712;
    width: 100%;
}

#logoChoco
{
    margin: 12px 20px 0px 20px; /*arriba,izquierda,abajo,derecha*/
}

.txtInfoFooter
{
    margin-top: 10px !important;
}

#gridFooter
{
    margin: 0 !important;
}

#itemFooter
{
    margin-left: 10px;
}

.txtFooter
{
    color: #FFFFFF !important;
    padding: 0.3rem !important;
}


#footerColor a:hover
{
   text-decoration: underline !important;
}

#barraMenu
{
    border-top: solid 1px #F3A712;
    border-bottom: solid 5px #F3A712;
    background-color: #003C6D;
    padding: 0px;
    border-radius: inherit;
    margin: 0px;
    box-shadow: 0 1px 6px 0 rgba(102,102,102,0.5) !important;
}

.inputBuscar
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#dropdownMenu .dropSimpleMenu
{
    /*width: 177px!important;*/
    height: 53px !important;
    /*margin-top: 34px !important;*/
    margin-right: -1px;
    background: #343434;
    border-radius: 5px;
}

#dropdownMenu .ui.secondary.vertical.pointing.menu
{
    left: 0;
}

#dropdownMenu .ui.icon.large.user
{
    color: #FFFFFF;
}

#dropdownMenu  .dropSimpleMenu:hover
{
    background-color: #F3A712;
    border-radius: 5px;
}

.btnYellow
{
    background-color: #F3A712 !important;
    color: #FFFFFF !important;
    box-shadow: 0 6px 6px -2px rgba(102,102,102,0.32) !important;
    margin-bottom: 20px !important;
}

#mensajeExito p
{
    font-size: 30px;
}

.alignedRight
{
    text-align: right;
    margin-right: 20px !important;
    margin-top: 50px !important;
}

#comentario
{
    resize: none;
}
/*termina nuevo*/
#buttonPHD
{
    border: solid 2px #003C6D;
    width: 200px;
    background-color: #F3A712 !important;
}

#buttonPHD .txtButton
{
    color: #FFFFFF;
}

#btnPHD
{
    margin-left: 70px;
    margin-top: 132px;
}

#dropSimpleMenu
{
    width: 177px!important;
    height: 40px !important;
    margin-top: 39px !important;
    background: #343434;
}

.ui.menu .dropdown.item .iteMenuAdmin
{
    background-color: #343434;
}

.ui.menu .ui.dropdown .menu > .item
{
    color: #003C6D !important;
}

.ui.secondary.vertical.pointing.menu .active.item
{
    border-color: #F3A712;
    margin-right: 5px;
}

.ui.menu .ui.dropdown .menu > .active.item
{
    color: #FFFFFF !important;
}

.ui.menu .ui.dropdown .menu > .item:hover, .ui.menu .ui.dropdown .menu > .selected.item
{
    color: #003C6D; !important;
}

.tituloBarra.azulMarino
{
    background-color: #003C6D;
}

.tituloBarra, .ui.header.tituloBarra
{
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    margin: 0px;
}

#barraInvestigadores
{
    background-color: #F3A712;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}

#home
{
    margin-top: 40px !important;
}
.center
{
    text-align: center;
}

.registroUsuario.btnAzul
{
    background-color: #003C6D !important;
    color: #FFFFFF !important;
    width: 160px;
    height: 45px;
}

.fondo.gris
{
    background: #F0F0F0;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#acercaDe
{
    background: #F0F0F0;
    margin-top: 20px;
    padding: 1px 0 30px 0;
}

.gridAcercaDe
{
    margin: 20px !important;
}

#txtAcercaDe
{
    margin-top: 35px;
}

#txtServicios
{
    margin-top: 50px;
    text-align: center;
}

.txtAvisos
{
    margin-left: 10px;
}

.txt
{
    font-size: 15px;
}

.txt.azulMarino
{
    color: #003C6D;
    font-weight: bold;
}

.txtLittle
{
    font-size: 12px;
}

.bordeTop
{
    border-top: solid black 1px;

}

.quita1
{
    width: 30px;
}

.buscadorVideos
{
    display: none;
}

#txtBordeSuperior
{
    border-top: solid 1px black;
}

#footer .ui.column.grid > .column[class*="ten wide"],
.ui.grid > .column.row > .column[class*="ten wide"],
.ui.grid > .row > .column[class*="ten wide"],
.ui.grid > .column[class*="ten wide"]
{
    width: 85% !important;
}

/*
#barraMenu .ui.column.grid > .column[class*="four wide"],
.ui.grid > .column.row > .column[class*="four wide"],
.ui.grid > .row > .column[class*="four wide"],
.ui.grid > .column[class*="four wide"]
{
    width: 15% !important;
}
*/

#usuarioAdmin .ui.column.grid > .column[class*="three wide"],
.ui.grid > .column.row > .column[class*="three wide"],
.ui.grid > .row > .column[class*="three wide"],
.ui.grid > .column[class*="three wide"]
{
    width: 20% !important;
    text-align: right;
    padding-right: 40px;
}

#buscadorMenu .ui.column.grid > .column[class*="nine wide"],
.ui.grid > .column.row > .column[class*="nine wide"],
.ui.grid > .row > .column[class*="nine wide"],
.ui.grid > .column[class*="nine wide"]
{
    width: 50% !important;
}

.aligned.center
{
    margin-left: auto;
    margin-right: auto;
}

.left
{
    text-align: left !important;
}

.cel
{
    display: none !important;
    padding: 7px;
    margin-left: 5px;
}

#mensajeBusqueda
{
    margin-left: 25px;
}

.ui.message
{
    background-color: #ccd1d4;
    color: #00171F;
    box-shadow: none;
}

.ui.success.message
{
    background-color: #ccd1d4;
    color: #00171F;
    box-shadow: none;
    margin: 0px 50px 20px 50px;
}

#listaVideosBuscar
{
    /* background-color: red;*/
    width: 100% !important;
}

#header
{
    width: 100%;
}

#menuInvestigador
{
    border-radius: 5px 0 0 5px;
    background-color: #F3A712;
    width: 85%;
    float: right;
    height: 30px;
}

#menuInvestigador a.item:hover,
#menuAcercaDe a.item:hover
{
    color: white;
    text-decoration: underline;
    background-color: transparent;
}

#menuInvestigador .item:hover,
#menuInvestigador .item.visible
{
    color: white;
    background-color: transparent;
}

#menuInvestigador a:hover
{
    color: white;
    text-decoration: underline;
}

.txtUnderline
{
    color: white !important;
    text-decoration: underline;
}

#txtRegistrate a.item:hover
{
    color: white !important;
    text-decoration: underline;
}

#txtAreasConocimiento
{
    display: none;
}

#txtRegistrate
{
    display: none;
}

#txtGrande
{
    font-size: 16px;
}

#menuAcercaDe
{
    height: 29px;
    background: transparent !important;
}

.bordeAzulIzquierdo
{
    border-radius: 0 !important;
    border-left: solid 2px #003C6D !important;
    height: 100% !important;
}

#home
{
    min-height: 100%;
    position:relative;
}

#footer
{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 !important;
}

#menuAcercaDe.ui.menu
{
    border: none;
    box-shadow: none;
}


/*Responsiva*/

/*tablet*/
@media only screen and (max-width: 868px){

    #barraMenu
    {
        border-bottom: none;
    }

    #logoPhd.ui.small.image
    {
        width: 80px;
    }

    #menuInvestigador
    {
        width: 102%;
        float: none;
    }

    #menuVideos
    {
        display: none;
    }

    #gridHeader
    {
        display: none;
    }

    #gridHeaderResponsivo
    {
        display: flex;
        margin-bottom: 5px;
    }

    #gridHeaderResponsivo.ui.grid > .row
    {
        padding: 0.3rem 0;
    }

    #textoBuscador
    {
        font-size: 0.9em;
        margin-top: 5px;
    }

    #contenido .ui.stackable.grid > .column.grid > .column,
    .ui.stackable.grid > .column.row > .column,
    .ui.stackable.grid > .column:not(.row),
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .row > .wide.column,
    .ui.stackable.grid > .wide.column
    {
        width: 50% !important;
    }

    /*header*/

    #barraMenu .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 70% !important;
    }

    #barraMenu .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 30% !important;
    }

    /*contenido*/
    #menuP .txtMenu.txtFiltrar
    {
        display: none;
    }

    .buscadorVideos
    {
        display: block !important;
    }

    .txtContPHD
    {
        margin-top: 8px;
    }

    .buscadorVideos .buscadorSegundo
    {
        /*arriba,izquierda,abajo,derecha*/
    }

    .buscadorVideos .ui.input input
    {
        border: solid #003C6D 1px !important;
    }

    /*footer*/


    #logoChoco
    {
        max-width: 60px !important;
        margin-top: 14px;
    }

    #menuFoot .txtFooter
    {
        font-size: 12px;
    }

    /*reguistra usuario*/
    #registroInvestigador .nombreApellidos
    {
        display: grid;
    }

    #registroInvestigador .nombreApellidos .five.wide.field
    {
        width: 98% !important; /*102*/
    }
    #registroInvestigador .contenedorDoble
    {
        width: 100%;

    }
    #registroInvestigador .contenedorDoble .five.wide.field
    {
        width: 50% !important;
    }

    #registroInvestigador .ten.wide.field
    {
        width: 100% !important;
    }

    .txt.infoLlenado
    {
        text-align: center !important;
    }

    #registroInvestigador .contenedor .five.wide.field
    {
        width: 50% !important;
    }

    #registroInvestigador .contenedor.five.wide.field
    {
        width: 48% !important;
    }

}

/*Cel*/
@media only screen and (max-width: 700px)
{
    #gridRegistroCel
    {
        display: inline;
        float: right;
        margin-top: 17px;
    }

    #menuAcercaDe .ocultable
    {
        display: none;
    }

    #txtRegistrate
    {
        display: inline;
    }

    #txtAreasConocimiento
    {
        display: inline;
    }

    #txtareasconocimiento a:hover
    {
        text-decoration: underline;
        color: white;
    }

    #menuInvestigador > .menu > .ocultable
    {
        display: none !important;
    }

    #menuInvestigador > .menu > .bordeAzulIzquierdo
    {
        border-left: none !important;
    }

    .txtDatosMenu
    {
        display: none !important;
    }
    .cel
    {
        display: block !important;
    }

    #contenido2
    {
        margin: 0;
    }

    #contenido .ui.stackable.grid > .column.grid > .column,
    .ui.stackable.grid > .column.row > .column,
    .ui.stackable.grid > .column:not(.row),
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .row > .wide.column,
    .ui.stackable.grid > .wide.column
    {
        width: 100% !important;
    }

    #footer .ui.column.grid > .column[class*="ten wide"],
    .ui.grid > .column.row > .column[class*="ten wide"],
    .ui.grid > .row > .column[class*="ten wide"],
    .ui.grid > .column[class*="ten wide"]
    {
        width: 75% !important;
    }

    #barraMenu .ui.column.grid > .column[class*="four wide"],
    .ui.grid > .column.row > .column[class*="four wide"],
    .ui.grid > .row > .column[class*="four wide"],
    .ui.grid > .column[class*="four wide"]
    {
        width: 40% !important;
    }

    #barraMenu .ui.column.grid > .column[class*="three wide"],
    .ui.grid > .column.row > .column[class*="three wide"],
    .ui.grid > .row > .column[class*="three wide"],
    .ui.grid > .column[class*="three wide"]
    {
        width: 60% !important;
        text-align: right !important;
        padding-right: 40px;
    }

    #menuFoot .txtFooter
    {
        font-size: 12px;
    }

    .buscadorVideos #buscador
    {
        margin: 60px  50px 0px 50px !important; /*arriba,izquierda,abajo,derecha*/
    }

    /*registro*/
    #registroInvestigador .contenedorDoble .five.wide.field
    {
        width: 100% !important;
    }
    #registroInvestigador .five.wide.field
    {
        width: 98% !important;
    }

    #registroInvestigador .contenedor .five.wide.field
    {
        width: 100% !important;
    }

    #registroInvestigador .contenedor.five.wide.field
    {
        width: 98% !important;
    }

}

@media only screen and (max-width: 478px)
{
    #header
    {
        margin-top: 120px;
    }

    #menuInvestigador.ui.secondary.menu .item
    {
        padding: 0.1em;
    }

    #logoPhd
    {
        margin: 1.8%;
    }

    #textoBuscador
    {
        display: none;
    }

    #buscadorHeader > .inputBuscador
    {
        margin-right: 4px;
    }

    #buscadorHeader
    {
        width: 99% !important;
    }

    #txtRegistrate
    {
        padding: 0.1em;
    }

}
